.nobackground{
    background-color: transparent !important;
}

.clean-img{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.link {
    background: rgba(0, 0, 0, 0.57);
}

.med-img {
    max-height: 300px !important;
    max-width: 300px !important;
}
